<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="https://cdn.tailwindcss.com"></script>
  <script src="https://unpkg.com/htmx.org@1.9.10" defer></script>
</head>
<body>
  <header class="bg-slate-50 h-16 px-5 flex items-center">
    Header
  </header>

  <div class="inline-flex p-5 gap-5">
    <button hx-get="/tab1.html" hx-target="#tabs" class="border rounded-md p-2 hover:bg-slate-50">
      Tab 1
    </button>
    <button hx-get="/tab2.html" hx-target="#tabs" class="border rounded-md p-2 hover:bg-slate-50">
      Tab 2
    </button>
    <button hx-get="/tab3.html" hx-target="#tabs" class="border rounded-md p-2 hover:bg-slate-50">
      Tab 3
    </button>
    <button hx-get="/toggle2.html" hx-swap="outerHTML" class="border rounded-md p-2 bg-blue-300">
      Toggle
    </button>
  </div>

  <div id="tabs" class="border mx-5 p-5">Home</div>
</body>
</html>